// global styles


// Scrollbar styles (PC only, mobile browsers ignore these)
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
